parameters:
    level: 6
    paths:
        - src
        - public/index.php
    excludePaths:
        - src/Helper/functions.php
    scanFiles:
        - src/Helper/functions.php
    bootstrapFiles:
        - vendor/autoload.php
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - identifier: missingType.iterableValue
