body {
	left:20%;right:20%; margin:auto;
	font-family:arial,sans-serif;
	width:700px;
	font-size:11px;
	background:#fff; }
a {
	color:#336699;
	text-decoration:none; }
a:hover {
	color:#336699;
	text-decoration:underline; }

#top {
	color:#000;
	font-size:16px;
	background:#fff; }
#top #title {
	padding:10px;
	text-transform:lowercase;
	letter-spacing:1px; }
#top #title a {
	color:#000;
	text-decoration:none; }
#top #title a:hover {
	text-decoration:underline; }
#top #login {
	float:right;
	padding:13px;
	display:inline;
	font-size:11px }
#top #login a {
	color:#000;
	text-decoration:none; }
#top #login a:hover {
	color:#000;
	text-decoration:underline; }
#top #login input {
	border:1px solid #e6e6e6;
	padding-top:0px;
	height:20px;
	width:100px;
	background:#fff; }
#top #menu {
	border:1px solid #000;
	background:#336699 url(blueshade.gif) repeat-x;
	padding:3px 0px;
	text-align:center;
	font-size:12px; }
#top #menu ul {
	position:relative;
	display:inline;
	padding:0px 5px; margin:0px 5px;
	list-style:none; }
#top #menu li {
	display:inline;
	padding:0px 5px; margin:0px 5px;
	list-style:none; }
#top #menu a {
	color: #fff;
	text-decoration:none;
	margin:0px 10px; padding:0px 10px;
	font-weight:bold; }
#top #menu li a:hover, #top #menu li a:active {
	color: #fff;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff; }

#top #path {
	font-size:11px;
	margin:0px 25px;
	position: relative;
	top: -6px;
	padding: 2px;
	border:1px solid black;
	background: #99ccff;
	text-align:left;
	font-weight: bold; }
#top #path ul, #top #path li{
	display:inline;
	list-style:none;
	margin: 0px 5px;
	padding: 0px 5px; }
#top #path li a {
	display:inline;
	font-size:11px;
	text-decoration: none;
	color: #000;
	border: none;
	text-align: left;
	font-weight: bold; }
#top #path li a:hover, #top #path li a:active {
	color: #000;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff; }

#body {
	border-top:0px; }
#body #sidebar {
	font-size:11px;
	float:right;
	border-top:0;
	border-right:0;
	padding:10px; }

#info {
	color:#000;
	background:#fff;
	border:1px solid #000;
	font-size:11px; }
#info a {
	color:#000; }
#info .title {
	color:#fff;
	background:#336699;
	text-align:center;
	padding:2px 0px;
	font-size:12px; }
#info .end {
	background:#efefef;
	border-top:1px solid #000;
	text-align:center;
	padding:2px 5px 4px 5px; }
#info .details .descr {
	font-weight:bold;
	padding:7px 0px 0px 5px; }
#info .details .value {
	padding:0px 10px; }

#body #main {
	font-size:12px; }
#body #main a {
	color:#555; }

#body #main img {
	border:1px solid #000; }
#body #category img {
	padding:0px 10px 0px 0px;
	float:left; }
#body #category a {
	color:#336699; }

.imgholder {
        float:left;
        background:url(shadowAlpha.png) no-repeat bottom right !important;
        background:url(shadow.gif) no-repeat bottom right;
        margin:10px 0 0 10px !important;
        margin:10px 0 0 5px; }
.imgholder img {
        display:block;
        background:#fff;
        position:relative;
        border:1px solid #aaa;
        margin: -6px 6px 6px -6px;
        padding:4px; }
.imgholder a {
        display:block; }

.form {
	color:#fff;
	border:1px solid #000;
	background:#336699; }
form {
	display:inline; }

table {
	font-size:12px; }
